.card-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 80%;
}
.card img {
  width: 100%;
}
.text-container h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.text-container p {
  font-family: "Rubik", sans-serif;
  text-align: center;
  color: #7b7b7b;
}
